{% extends "Admin/abase.html" %}
{% block title %}Video Data{% endblock %}
{% block content %}
<h5 style="padding: 20px; color: rgb(0, 0, 0, 0.6)">Video Data</h5>
<div class="container-fluid" style="background-color:white; max-width: 100%;; padding: 15px;">
    <table id="example" class="table table-striped table-bordered" style="max-width: 100%;">
        <thead>
            <tr>
                <th>CID</th>
                <th>Description</th>
                <th>Post date</th>
                <th>Post Status</th>
                <th>UserID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody >
            {% for video in db %}
            <tr>
                <td>{{ video[0] }}</td>
                <td>{{ video[3] }}</td>
                <td>{{ video[4] }}</td>
                <td>{{ video[2] }}</td>
                <td>{{ video[5] }}</td>
                <td>
                    <a href="/admin_video_view/{{ video[0] }}" class="btn btn-primary">View</a>
                    <a href="/admin_video_update/{{ video[0] }}" class="btn btn-success">Update</a>
                    {% if video[2] == "Deleted" %}
                        <button data-id="{{ video[0] }}" class="btn btn-danger delete" type="button">Delete</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="overlay">
        <div class="delete_content centered">
            <div class="content_title">Delete Content</div>
            <div style="padding: 10px;">Do you sure want to delete this content ?</div>
            <div style="float: right; padding: 5px;">
                <button class="cancel">Cancel</button>
                <button class="confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#example').DataTable();
    $(".delete").click(function(e) {
        $(".overlay, .delete_content").fadeIn(100);
        $(".confirm").click(function() {
        console.log(e.target.getAttribute("data-id"));
            $.ajax({
                url: "/admin_post_delete/" + e.target.getAttribute("data-id"),
                method: "DELETE",
                success: function() { alert("Delete success"); location.reload(); }
            });
        });
    });
    $(".cancel").click(function() {
        $(".overlay, .delete_content").fadeOut(100);
    });
} );
document.querySelector("#video").classList.add("active");
</script>

{% endblock %}
