{% extends "Admin/abase.html" %}
{% block title %}Album Update{% endblock %}
{% block link %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <style>
        label { font-weight: bold; font-size: 20px; padding: 10px;}
        span { font-family: 'Merriweather', serif; font-size: 18px;}
        .pic {
            display: block;
            margin: auto;
            width: 80%;
        }
        a:hover, a { text-decoration: none; color: black;}
    </style>
{% endblock %}
{% block content %}
<h5 style="padding: 20px; color: rgb(0, 0, 0, 0.6)">Album Data &nbsp; | &nbsp; Update &nbsp;| {{ app[0] }}</h5>
<div class="container-fluid" style="background-color:white; padding: 15px;">
    <form action="/admin_post_update/{{ app[0] }}?type={{ app[6] }}" method="POST" class="form-group" enctype="multipart/form-data">
        <div class="mb-3 row">
            <div class="col-sm-5">
                {% for types in app[2] %}
                {% set type = types[1].split(".") %}
                {% if type[1] in ['gif', 'png', 'jpg', 'jpeg'] %}
                    <img src="{{ types[0] }}" alt="{{ types[1] }}" style="width: 100%;">
                {% elif type[1] in ['mp4', 'mov', 'avi', 'webm'] %}
                    <video class="video-fluid" width='100%' controls>
                        <source src="{{ types[0] }}" type="video/mp4" />
                    </video>
                {% endif %}
            {% endfor %}
            </div>
            <div class="col-sm-7">
                <p><label>CID: &nbsp; <span>{{ app[0] }}</span></label></p>
                <p><label>Description: &nbsp; <span>{{ app[1] }}</span></label></p>
                <p><label>Post Status:</label>
                <span style="position: absolute; right: 60%;">
                    {% if app[4] == "Active" %}
                        <div class="form-check"><input class="form-check-input" type="radio" name="status" value="Active" checked>Active</div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="status" value="Deleted">Deleted</div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="status" value="Blocked">Blocked</div>
                    {% elif app[4] == "Deleted" %}
                        <div class="form-check"><input class="form-check-input" type="radio" name="status" value="Active">Active</div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="status" value="Deleted" checked>Deleted</div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="status" value="Blocked">Blocked</div>
                    {% elif app[4] == "Blocked" %}
                    <div class="col-sm-8">
                        <div class="form-check"><input class="form-check-input" type="radio" name="status" value="Active">Active</div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="status" value="Deleted">Deleted</div>
                        <div class="form-check"><input class="form-check-input" type="radio" name="status" value="Blocked" checked>Blocked</div>
                    </div>
                    {% endif %}
                </span></p>

            </div>
        </div>
    <br>
    <center>
        <input type="submit" value="Update" class="btn btn-success btn-md btn-block" style="width: 80%;" id="btnSubmit"/>
        <a href="/postdb?type={{ app[6] }}" class="btn btn-primary btn-md btn-block" style="width: 80%;">Back</a>
    </center>
    </form>
    <br>
</div>
<script>
document.querySelector("#album").classList.add("active");
</script>
{% endblock %}

