{% extends "Admin/abase.html" %}
{% block title %}Album Data{% endblock %}
{% block content %}
<h5 style="padding: 20px; color: rgb(0, 0, 0, 0.6)">Album Data</h5>
<div class="container-fluid" style="background-color:white; padding: 15px;">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>CID</th>
                <th>Description</th>
                <th>Post date</th>
                <th>Post Status</th>
                <th>UserID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for album in db %}
            <tr>
                <td>{{ album[0] }}</td>
                <td style="text-overflow: ellipsis;">{{ album[3] }}</td>
                <td>{{ album[4] }}</td>
                <td>{{ album[2] }}</td>
                <td>{{ album[5] }}</td>
                <td>
                    <a href="/admin_album_view/{{ album[0] }}" class="btn btn-primary">View</a>
                    <a href="/admin_album_update/{{ album[0] }}" class="btn btn-success">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    $('#example').DataTable();
});
document.querySelector("#album").classList.add("active");
</script>

{% endblock %}
