<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/unique-perigee-299514.appspot.com/o/logo%202.png?alt=media">
    <script src='http://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/following.css') }}" >
    {% block link %}{% endblock %}
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-sm navbar-light" style="height: 60px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="float:left" href="/userpage">
                    <img src="https://firebasestorage.googleapis.com/v0/b/unique-perigee-299514.appspot.com/o/logo%202.png?alt=media" style="width: 15%" alt="logo">
                </a>
            </div>
            <div class="center">
                <input class="form-control search" type="text" name="text" id="myInput" autocomplete="off" placeholder="Search for names.." title="Type in a name" style="width: 300px;">
            </div>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item"><a href="/homepage">{% include 'icon/home.html' %}</a></li>
                <li class="nav-item"><a href="/userpage">{% include 'icon/earth.html' %}</a></li>
                <li class="nav-item" style="margin-top: 6px; margin-bottom: auto; padding: 0 10px "><a id="dropdown">
                    {% if userid | userpic == "" %}
                        <img class="user-circle" src="{{ url_for('static', filename='img/default-user.png') }}"/>
                    {% elif userid | userpic != "" %}
                        <img class="user-circle" src="{{ userid | userpic }}"/>
                    {% endif %}
                </a></li>
            </ul>
        </div>
    </nav>
    <div id="dropdown-content" style="display: none;">
		<a class="dropdown-item" href="/profile">Profile</a>
        <div class="dropdown-divider" style="border-color: #bfbfbf"></div>
		<a class="dropdown-item" href="/logout">LogOut</a>
	</div>
    <script>
    $(".user-circle").click(function () {
        $("#dropdown-content").show();
    });
    $(document).click(function (e) {
        if(!$(e.target).hasClass("user-circle") &&  $(e.target).parents("#dropdown-content").length === 0) {
            $("#dropdown-content").hide();
        }
        $(".search").keyup(function () {
            $("#result").html($(this).val());
        });
    });

    </script>
    <script src="{{ url_for('static', filename='js/search.js') }}" ></script>
    {% block content %}
    {% endblock %}
    <div id="content" style="position: fixed;
				top: 28%;
				left: 50%;
				height: 40%;
				width: 30%;
				transform: translate(-50%, -50%); background-color: white;">
		<div id="search_list" style="overflow-y:auto; overflow-x: hidden;"></div>
	</div>

</body>
</html>
