<br>
<div class="box" id="{{ a[0] }}" data-post-id="{{ a[0] }}">
    <div class="header">
        <div class="pro_pic">
            <a href="/{{ a[6] }}">
                {% if a[7] == "" %}
                    <img class="user-circle" src="static/img/default-user.png"/>
                {% elif a[7] != "" %}
                    <img class="user-circle" src="{{ a[7] }}"/>
                {% endif %}
                <div class="uname"> {{ a[4] }} </div>
            </a>
            <button class="post-opt" data-opt="{{ a[0] }}">
                <svg class="opt"  height="10" width="25" data-opt="{{ a[0] }}">
                    <circle cx="5"  cy="5" r="3" fill="black" data-opt="{{ a[0] }}" />
                    <circle cx="12" cy="5" r="3" fill="black" data-opt="{{ a[0] }}" />
                    <circle cx="19" cy="5" r="3" fill="black" data-opt="{{ a[0] }}" />
                </svg>
            </button>
        </div>
    </div>
    <div class="body" style="border: 1px solid #f2f2f2;">
        <div class="pic" data-type="{{ a[1] }}">
            {% if a[1] == "Photo" %}
                <img class="source" src="{{ a[2] }}">
            {% elif a[1] == "Video" %}
                <video class="video-fluid" width='100%' controls>
                    <source class="source" src="{{ a[2] }}" type="video/mp4" />
                </video>
            {% elif a[1] == "Album" %}
                <div class="slide_container">
                    {% for types in a[2] %}
                        <div class="slide">
                        {% set type = types[1].split(".") %}
                        {% if type[1] in ['gif', 'png', 'jpg', 'jpeg'] %}
                            <img src="{{ types[0] }}" alt="{{ types[1] }}" style="width: 100%;">
                        {% elif type[1] in ['mp4', 'mov', 'avi', 'webm'] %}
                            <video class="video-fluid" width='100%' controls>
                                <source src="{{ types[0] }}" type="video/mp4" />
                            </video>
                        {% endif %}
                        </div>
                    {% endfor %}
                    <button class="prev" >&#10094;   </button>
                    <button class="next">   &#10095;</button>
                </div>
            {% endif %}
        </div>
        <div class="content">
            <svg class="heart-icon" viewBox="-5 -5 45 40" onclick="myheart('{{ a[0] }}')">
                <defs>
                    <linearGradient id="linear" x1="20%" y1="10%" x2="80%" y2="80%">
                      <stop offset="0%"   stop-color="#333333"/>
                      <stop offset="100%" stop-color="#808080"/>
                    </linearGradient>
                  </defs>
                {% if a[8][3] == userid %}
                  <path id="heart-{{ a[0] }}" class="heart-mode"  d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                    c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" stroke="url(#linear)"/>
                {% elif a[8][3] != userid %}
                    <path id="heart-{{ a[0] }}" d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" stroke="url(#linear)"/>
                {% endif %}
            </svg>
            <span style="padding: 1px 1px;" class="num-user-like" data-like="{{ a[0] }}">
                {% if a[8][0] !=0 %}
                    <span class="user_like_list" data-post-id="{{ a[0] }}" style="cursor: pointer">{{ a[8][0] }}</span>
                {% endif %}
            </span>
            <svg class="comment-icon" x="0px" y="0px" viewBox="0 0 60 60" data-post-id="{{ a[0] }}">
                <defs>
                    <linearGradient id="linear2" x1="20%" y1="10%" x2="80%" y2="80%">
                      <stop offset="0%"   stop-color="#333333"/>
                      <stop offset="100%" stop-color="#808080"/>
                    </linearGradient>
                  </defs>
              <path fill="url(#linear2)" d="M54,2H6C2.748,2,0,4.748,0,8v33c0,3.252,2.748,6,6,6h8v10c0,0.413,0.254,0.784,0.639,0.933C14.757,57.978,14.879,58,15,58
                c0.276,0,0.547-0.115,0.74-0.327L25.442,47H54c3.252,0,6-2.748,6-6V8C60,4.748,57.252,2,54,2z M58,41c0,2.168-1.832,4-4,4H27.179
                l3.579-4.161c0.36-0.418,0.313-1.05-0.106-1.41c-0.418-0.36-1.051-0.312-1.411,0.106l-4.998,5.811L16,54.414V46c0-0.552-0.448-1-1-1
                H6c-2.168,0-4-1.832-4-4V8c0-2.168,1.832-4,4-4h48c2.168,0,4,1.832,4,4V41z" />
            </svg>
            <span style="padding: 1px 1px;" class="num-user-comment" data-comment="{{ a[0] }}">
                {% if a[8][1] !=0 %}
                    <span class="user_comment_list" data-post-id="{{ a[0] }}" style="cursor: pointer">{{ a[8][1] }}</span>
                {% endif %}
            </span>
            {% if a[1] != "Album" %}
            <svg class="share-icon" viewBox="0 0 512 512" data-post-id="{{ a[0] }}">
                <linearGradient id="linear3" x1="20%" y1="10%" x2="80%" y2="80%">
                    <stop offset="0%"   stop-color="#333333"/>
                    <stop offset="100%" stop-color="#808080"/>
                </linearGradient>
                    <path fill="url(#linear3)" d="m505.664 183.754-212-150c-4.575-3.237-10.577-3.653-15.557-1.077-4.98 2.577-8.107 7.715-8.107 13.322v75.385c-70.488 3.632-136.248 32.812-186.525 83.089-53.83 53.83-83.475 125.4-83.475 201.526v60c0 8.327 6.76 15.001 15.012 15.001 6.605 0 12.551-4.369 14.411-10.88l2.309-8.08c30.756-107.649 127.472-184.227 238.268-190.61v74.569c0 5.607 3.127 10.746 8.106 13.322 4.98 2.576 10.981 2.161 15.557-1.077l212-150c3.974-2.812 6.336-7.377 6.336-12.245s-2.361-9.433-6.335-12.245zm-205.664 133.257v-61.012c0-8.284-6.716-15-15-15-32.193 0-63.916 5.228-94.287 15.539-68.596 23.288-125.113 70.767-160.095 131.61 9.191-132.313 119.773-237.149 254.382-237.149 8.284 0 15-6.716 15-15v-61.012l171.03 121.012z" />
            </svg>
            <span style="padding: 1px 1px;" class="num-user-share" data-share="{{ a[0] }}">
                {% if a[8][2] !=0 %}
                    <span class="user_share_list" data-post-id="{{ a[0] }}" style="cursor: pointer">{{ a[8][2] }}</span>
                {% endif %}
            </span>
            {% endif %}
            {% if a[1] == "Album" %}
            <div style="position: relative; margin-left: 25%;  display: inline; text-align: center;">
                <span class="num-slides"></span>
            </div>
            {% endif %}
            <div class="date"> {{ a[5] }}</div>
        </div>
        <div class="description"> {{ a[3] }}  </div>
    </div>
    <div class="comment">
        <div class="input-group mb-3">
            <textarea id="comment {{ a[0] }}" style="resize: none;" class="form-control" name="comment" placeholder="Add a comment..."  autocomplete="off"></textarea>
            <button type="submit" class="btn btn-outline-primary" onclick="myComment('{{ a[0] }}')" disabled></button>
        </div>
    </div>
</div>
<br>
