{% extends "base.html" %}
{% block title %} Edit Post {% endblock %}
{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}" > -->
<style>
	.container {
        display: grid;
        place-items: center;
    }
    input[type='file'] {
        position: absolute;
        width: 390px;
        height: 100px;
        border-radius: 10px;
        border: 1px solid black;
        left: 0;
        opacity: 0;
    }
    input[type='submit'], .back {
        color: white;
        border: 1px solid #3385ff;
        background: #3385ff;
        width: 400px;
        height: 40px;
        border-radius: 50px;
    }
    input[type='submit']:disabled {
        color: white;
        border: 1px solid #b3b3b3;
        background: #b3b3b3;
    }
    input:focus, button:focus, textarea { outline: none; }
    .upload_file {
        text-align:center;
        width: 390px;
        height: 100px;
        padding: 5px 10px;
        position: relative;
        background: white;
        border-radius: 10px;
        border: 3px dashed #bfbfbf;
    }
    textarea {
        width: 400px;
        height: 200px;
        border-radius: 10px;
        padding: 10px;
        resize: none;
        border: 1px solid #cccccc;
    }
    .upload {
        position: relative;
        padding: 5px 5px;
        top: 25px;
        z-index: 0;
        color: #737373;
    }
    div.file_container {
        padding: 10px 5px;
        height: 50%;
        display: grid;
        place-items: center;
    }
    div#view {
        background: white;
        max-width: 950px;
        padding: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        border: 2px solid #bfbfbf;
    }
    .image, .video {
        width: 300px;
        height: 300px;
        padding: 5px;
    }
    .video { display: inline-block; }
    .image { object-fit: cover; }
    #close {
        color: purple;
        float: right;
        top: -10px;
        right: -5px;
        padding: 1px;
    }
    .err_message {
        color: red;
        padding: 5px;
        display: none;
    }
</style>
<form action="/update_post?cid={{ myresult[0] }}&type={{ myresult[1] }}" method="POST" enctype="multipart/form-data">
    <div class="container">
        <h2 style="padding:5px;" >Edit Post</h2>
        <textarea maxlength="500" name="description" placeholder="Say your feeling...">{{ myresult[3] }}</textarea>
        <br>
        <div class="upload_file">
            <span class="upload">
                <span style="bottom: -5px; position: relative;">Upload</span>
                {% include 'icon/upload.html' %}
            </span>
            <input type="file" id="file" name="files" multiple/>
        </div>
        <div class="err_message">Cannot Upload More than 6</div>
        <div class="file_container">
            <div id="view">
				{% if myresult[1] == "Photo" %}
					<img class="image" src="{{ myresult[2] }} " style="object-fit: cover;"/>
				{% elif myresult[1] == "Video" %}
					<video class="video" src="{{ myresult[2] }} "></video>
                {% elif myresult[1] == "Album" %}
                    {% for types in myresult[2] %}
                    {% set type = types[1].split(".") %}
                        {% if type[1] in ['gif', 'png', 'jpg', 'jpeg'] %}
                            <img class="image" src="{{ types[0] }}" style="object-fit: cover;"/>
                        {% elif type[1] in ['mp4', 'mov', 'avi', 'webm'] %}
                            <video class="video" src="{{ types[0] }}">  </video>
                        {% endif %}
                    {% endfor %}
				{% endif %}
                <span id="close"> {% include 'icon/close.html' %} </span>
            </div>
        </div>
        <input type="submit" value="POST" disabled/>
    </div>
</form>
<button class="back" style="display: block; margin: auto;" onclick="window.location.assign('/')" >Back</button>
<script>
	document.querySelector("input[type='submit']").disabled = false;
	document.getElementsByClassName("upload_file")[0].style.display = "none";
</script>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
{% endblock %}
