<div class="report_form_container" >
    <form class="report_form centered">
        <div class="report_form_title" style="">Report
            <span class="close_report">&times;</span>
        </div>
        <div style="padding: 20px;">Why your reporting this post ?</div>
        <div class="report_option">
            <div>
                <input type="radio" id="opt1" name="report_type" value="Nudity or sexual activity">
                <label class="opt_value" for="opt1">Nudity or sexual activity</label>
            </div>
            <div>
                <input type="radio" id="opt2" name="report_type" value="It's spam">
                <label class="opt_value" for="opt2">It's spam</label>
            </div>
            <div>
                <input type="radio" id="opt3" name="report_type" value="Bullying or harassment">
                <label class="opt_value" for="opt3">Bullying or harassment</label>
            </div>
            <div>
                <input type="radio" id="opt4" name="report_type" value="False Information">
                <label class="opt_value" for="opt4">False Information</label>
            </div>
            <div>
                <input type="radio" id="opt5" name="report_type" value="Hate speech or symbols">
                <label class="opt_value" for="opt5">Hate speech or symbols</label>
            </div>
            <div>
                <input type="radio" id="opt6" name="report_type" value="Suicided or Self-injury">
                <label class="opt_value" for="opt6">Suicided or Self-injury</label>
            </div>
            <div>
                <input type="radio" id="opt7" name="report_type" value="Violence or Terrorism">
                <label class="opt_value" for="opt7">Violence or Terrorism</label>
            </div>
        </div>
        <br>
        <input class="report_submit" type="button" value="Report" disabled/> &nbsp;
    </form>
</div>
