<div class="share_form_container" id="share_form_{{ myresult[0] }}" style="display: none">
    <div class="share_form centered">
        <div class="share_form_title" style="">Share Post
            <span class="close_share">&times;</span>
        </div>
        <div style="padding: 10px 20px;">
            {% if userid | userpic == "" %}
                <img class="user-circle" src="../static/img/default-user.png"/>
            {% elif userid | userpic != "" %}
                <img class="user-circle" src="{{ userid | userpic }}"/>
            {% endif %}
            <span>{{ name }}</span>
            <br>
            <textarea class="share_form_text" cols="50" id="share-form-{{ myresult[0] }}" name="share" placeholder="Share your feeling..." autocomplete="off"></textarea>
        </div>
        <div class="share_user_content">
            <div style="max-width:100%; height: 280px;">
                {% if myresult[1] == "Photo" %}
                    <img src="{{ myresult[2] }}" width="100%"/>
                {% else %}
                    <video class="video-fluid" width='100%' controls>
                        <source src="{{ myresult[2] }}" type="video/mp4" />
                    </video>
                {% endif %}
            </div>
            <span class="share_user_name">{{ myresult[4] }}</span> <br>
            <div class="share_description">
                <span class="share_description_text">{{ myresult[3] }}</span>
            </div>
        </div>
        <br>
        <input type="submit" value="Share" onclick="share_form({{ myresult[0] }})" />
    </div>
</div>
